
.header {
    color: #4E5166;
	text-align: right;
	border-bottom: solid 3px #FD2D01;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.title{
    padding-left: 32px;
}

.title h1 {
    padding-right: 15px;
}

.logo {
    height: 155px;
	width: 235px;
    margin-top: 10px;
}
.menu ul{
    font-size: 20px;
    list-style: none;
          display: flex;
          flex-direction: row;
          text-align: center;
          margin-top: 0px;
}

.menu li
        {
          padding-top: 40px;
          margin-bottom: 15px;
          width:130px;
        }

.homeLink 
        {
    font-size: 20px;
    width: 100px;
    height: 99px;       
        }

.flexcenter
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexaround
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flexbetween
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexcolumncenter
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flexcolumnaround
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flexcolumnbetween
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.decorationnone
{
	text-decoration: none;
}