.userIcon, .passwordIcon {
    height: 25px;
}


.loginIcon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.loginBox {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
}

.loginButton {
    flex-direction: column;
    width: auto;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    background-color: lightgray;
    border: 2px solid black;
    cursor: pointer;

}

.loginButton:hover {
    background-color: #FFD7D7;
    color: white;
    border: 2px solid #FD2D01;
}

.button {
    padding:15px;
}

input {
    width: 250px;
    height: 20px;
    border-radius: 60px;
    margin-top: 5px;
    padding: 15px 8px;
}

.form > h1 {
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.flexcenter
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexaround
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flexbetween
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexcolumncenter
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flexcolumnaround
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flexcolumnbetween
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
